<p id="notice"><%= notice %></p>

<h1>About</h1>

<p>
  Do more universities correlate with a higher GDP? What about airports? Are certain crops contributing to a country’s economic success?<br />
  I will be comparing university, airport, nobel prize laureates, and 2007 crop yields for many global countries to their GDP in an attempt to identify correlation between any of these datasets.
</p>
<p>
  Nearly all of the datasets I’ve chosen are json files. Many of these files have been downloaded, but some will be queried over the internet to create database tables.
</p>
<%= image_tag 'erd.jpg' %>